/************
 *Objects & Functions
 ********/


@import "objects/_o_base";

/*************
* Outer Containers
**********/

* {
	-webkit-font-smoothing: antialiased;
}


body{
	width: 100%;
	font-size: 100%;
}

/*********
* Header
*******/
	header {
		width: 100%;
		#logo-wrap {
			background-color: $azure;

			#logo {
				margin: 15px 0px 5px 10px;
				width: 80%;
				height: 80%;
			}

			#hamburger {
				display: inline-block;
				width: 25px;
				height: 20px;
				position: absolute;
				top: 20px;
				right: 15px;


				&>div{
					background-color: $hamburgercolor;
					height: 20%;
					width: 100%;

					&:not(:first-child) {
						margin-top: 20%;
					}
				}
			}

		}
		#mainnav {
			background-color: $white;
			text-align: center;

			& > ul {
				@include transition(.9, max-height);
				height: auto;
				max-height: 0px;
				overflow-y: hidden;

				&.active {
					max-height: 500px;
				}
			}

			li{
				&:first-child {
					margin-top: 15px;
				}

				&:last-child{
					margin-bottom: 15px;
				}
			}

			a, a:visited, a:active, a:link {
				@include blue_header(1.6em);
				font-style: italic;
				font: $italictext;
				line-height: 45px; 
				text-decoration: none;
			
				&:hover {
					color: $azure;
				}
			}
		}
	}

/*********
* Middle
*******/
	#main {
		width: 100%;
		position: relative;

		#main-text {
			position: absolute;
			top: 0px;
			left: 0px;
			right: 0px;
			
			p{
				@include white_body(1em);
				margin: 0px auto;
				text-align: center;
				line-height: 1.1em;
				padding: 0px 5px;
			}

			h1 {
				@include white_header (2em);
				text-align: center;
				margin: 25px auto;
				padding-top: 20px;
			}
		}
		#inner-main{
			width: 100%;
			overflow-x: hidden;

			img {
				width: auto;
				height: 300px;
				margin-left: -100px;
			}


			.joinbutton{
				height: 150px;
				background: url(../img/circle.png) center center no-repeat;
				background-size: 120px 120px;
				margin-top: -60px;
				margin-left: auto;
				margin-right: auto;
				margin-bottom: 0px;
				position: relative;

				h2 {
					@include blue_header(1.4em);
					line-height: 20px;
					text-align: center;
					padding: 5px;
					width: 120px;
					height: 120px;
					margin: 0px auto;
				}
	 		}
				
		}

		.perksection {
			height: auto;
			margin-top: 50px
				img {
					margin: 0px auto;
				}

				h2{
					@include blue_header(2em);
					line-height: 20px;
					text-align: center;
					margin-bottom: 15px;
				}

				p{
					@include black_body(1.4em);
					line-height: 16px;
					text-align: center;	
				}

				
		}
		
		article{
			width: 100%;
			.date {
				margin: 0px auto;
				width: 150px;
			}

			h3 {
				@include blue_header(1.5em);
				margin: 10px 0px;
			}

			p{
				@include black_body(1em);
				line-height: 18px;
				max-width: 300px;
			}
		}

		aside {
			background-color: $azure;
			width: 90%;

			img {
				float: left;
				width: 60%;
				height: 60%;
			}

			li {
				padding-left: 25px;
			}

			a {
				color: $white;
				font-size: 1em;
				font: $headertext;
				line-height: 20px; 
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
					color: $azure;
				}
			}
		}
	}

/*********
* Footer
*******/
	footer{
		background-color: $azure;
		bottom: 0px;
		height: 100px;
		margin: 0px auto;
		text-align: center;
		width: 100%;
	
		.footernav {
			color: $white;
			font: $headertext;
			text-align: center;
			line

			a {
				color: $white;
				font-size: 1.6em;
				font: $headertext;
				line-height: 20px; 
				text-decoration: none;
				
				&:hover {
					text-decoration: underline;
				}
			}
		}

		p {
			bottom: 0px;
			color: $black;
			font-size: .75em;
			font: $bodytext;
			margin: 10px;
			position: absolute;
			right: 0px;

		}


	}


