$azure: #41b7fd;
$black: #444;
$white: #fff;
$hamburgercolor: #fff;
$headertext: "archivo_narrowbold", Helvetica, Arial, sans-serif;
$bodytext: "archivo_narrowregular", Helvetica, Arial, sans-serif;
$italictext: "archivo_narrowitalic", Helvetica, Arial, sans-serif;
