/*
 *  Forte Leadership by Thomas Peduto
 *  Web Developer, Star Group
 *  tpeduto@stargroup1.com
 */
/**
 * CSS Reset for Drupal 7
 */
/* line 118, ../sass/_reset.scss */
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
input,
select,
textarea,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
td.menu-disabled,
ul.links,
ul.links.inline,
ul.links li,
.block ul,
div.admin,
tr.even,
tr.odd,
tr.drag,
tbody,
tbody th,
thead th,
.breadcrumb,
.item-list .icon,
.item-list .title,
.item-list ul,
.item-list ul li,
ol.task-list li.active,
.form-item,
tr.odd .form-item,
tr.even .form-item,
.form-item .description,
.form-item label,
.form-item label.option,
.form-checkboxes,
.form-radios,
.form-checkboxes .form-item,
.form-radios .form-item,
.marker,
.form-required,
.more-link,
.more-help-link,
.item-list .pager,
.item-list .pager li,
.pager-current,
.tips,
ul.primary,
ul.primary li,
ul.primary li a,
ul.primary li.active a,
ul.primary li a:hover,
ul.secondary,
ul.secondary li,
ul.secondary a,
ul.secondary a.active,
.resizable-textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}

/* Drupal: system-menus.css */
/* line 132, ../sass/_reset.scss */
ul.links,
ul.links.inline,
ul.links li,
.block ul,
ol,
ul,
.item-list ul,
.item-list ul li {
  list-style: none;
}

/* line 136, ../sass/_reset.scss */
blockquote,
q {
  quotes: none;
}

/* line 142, ../sass/_reset.scss */
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

/* Remember to highlight inserts somehow! */
/* line 148, ../sass/_reset.scss */
ins {
  text-decoration: none;
}

/* line 151, ../sass/_reset.scss */
del {
  text-decoration: line-through;
}

/* Tables still need 'cellspacing="0"' in the markup. */
/* line 156, ../sass/_reset.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/**
 * Font reset.
 *
 * Specifically targets form elements which browsers often times give
 * special treatment.
 */
/* line 169, ../sass/_reset.scss */
input,
select,
textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/* line 172, ../sass/_reset.scss */
textarea {
  font-size: 1em;
  line-height: 1.538em;
}

/**
 * Markup free clearing.
 *
 * Consider adding your own selectors to this instead of finding ways
 * to sneak the clearfix class into Drupal's markup.
 * From http://perishablepress.com/press/2009/12/06/new-clearfix-hack
 */
/* line 185, ../sass/_reset.scss */
ul.links:after,
div.admin-panel .body:after,
.clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}

/* Exclude inline links from clearfix behavior */
/* line 194, ../sass/_reset.scss */
ul.inline:after {
  content: "";
  display: none;
  clear: none;
}

/* IE6 */
/* line 203, ../sass/_reset.scss */
* html .form-item,
* html ul.links,
* html div.admin-panel .body,
* html .clearfix {
  height: 1%;
}

/* IE7 */
/* line 210, ../sass/_reset.scss */
*:first-child + html .form-item,
*:first-child + html ul.links,
*:first-child + html div.admin-panel .body,
*:first-child + html .clearfix {
  min-height: 1%;
}

/* line 214, ../sass/_reset.scss */
em {
  font-style: italic;
}

@font-face {
  font-family: 'archivo_narrowbold';
  src: url("archivonarrow-bold-webfont.eot");
  src: url("archivonarrow-bold-webfont.eot?#iefix") format("embedded-opentype"), url("archivonarrow-bold-webfont.woff") format("woff"), url("archivonarrow-bold-webfont.ttf") format("truetype"), url("archivonarrow-bold-webfont.svg#archivo_narrowbold") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archivo_narrowitalic';
  src: url("archivonarrow-italic-webfont.eot");
  src: url("archivonarrow-italic-webfont.eot?#iefix") format("embedded-opentype"), url("archivonarrow-italic-webfont.woff") format("woff"), url("archivonarrow-italic-webfont.ttf") format("truetype"), url("archivonarrow-italic-webfont.svg#archivo_narrowitalic") format("svg");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'archivo_narrowregular';
  src: url("archivonarrow-regular-webfont.eot");
  src: url("archivonarrow-regular-webfont.eot?#iefix") format("embedded-opentype"), url("archivonarrow-regular-webfont.woff") format("woff"), url("archivonarrow-regular-webfont.ttf") format("truetype"), url("archivonarrow-regular-webfont.svg#archivo_narrowregular") format("svg");
  font-weight: normal;
  font-style: normal;
}

/************
 *Objects & Functions
 ********/
/************
 *Defaults
 ********/
/************
 *Defaults
 ********/
/****
 *Box Sizing
 */
/****
 *Alignments
 */
/****
 *Margins
 */
/****
 *Transitions
 */
/****
 *Widths
 */
/*100% Widths*/
/*50% Widths*/
/*33.3333% Widths*/
/*************
* Outer Containers
**********/
/* line 12, ../sass/_base.scss */
* {
  -webkit-font-smoothing: antialiased;
}

/*********
* Header
*******/
/* line 18, ../sass/_base.scss */
#bgimg {
  width: 100%;
  height: 300px;
}

/* line 22, ../sass/_base.scss */
#foregroundwrap {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
/* line 28, ../sass/_base.scss */
#foregroundwrap header {
  width: 100%;
}
/* line 31, ../sass/_base.scss */
#foregroundwrap header .logo {
  margin: 15px 0px 15px 10px;
  width: 80%;
  height: 80%;
}
/* line 37, ../sass/_base.scss */
#foregroundwrap header .hamburger {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 15px;
}
/* line 46, ../sass/_base.scss */
#foregroundwrap header .hamburger > div {
  background-color: white;
  height: 20%;
  width: 100%;
}
/* line 51, ../sass/_base.scss */
#foregroundwrap header .hamburger > div:not(:first-child) {
  margin-top: 20%;
}
/* line 58, ../sass/_base.scss */
#foregroundwrap header .mainnav a {
  color: white;
  font: "archivo_narrowitalic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 65, ../sass/_base.scss */
#foregroundwrap header .mainnav a:hover {
  color: #41b7fd;
}
/* line 72, ../sass/_base.scss */
#foregroundwrap header h1 {
  font: "archivo_narrowbold", Helvetica, Arial, sans-serif;
  font-size: 27px;
  color: white;
  text-align: center;
}
/* line 79, ../sass/_base.scss */
#foregroundwrap header p {
  font: "archivo_narrowregular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
}
/* line 87, ../sass/_base.scss */
#foregroundwrap header .joinbutton {
  background: url(../img/circle.png) center center no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
/* line 93, ../sass/_base.scss */
#foregroundwrap header .joinbutton h2 {
  color: #41b7fd;
  font-size: 20px;
  padding: 20px 25px 20px 15px;
  line-height: 20px;
  text-align: center;
}

/*********
* Middle
*******/
/*********
* Footer
*******/
@media only screen and (min-width: 480px) {
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*100% Widths*/
  /*50% Widths*/
  /*33.3333% Widths*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 768px) {
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*100% Widths*/
  /*50% Widths*/
  /*33.3333% Widths*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 1024px) {
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*One Base*/
  /*Two Base*/
  /*Three Base*/
  /*Four Base*/
  /*Five Base*/
  /*Six Base*/
  /*Seven Base*/
  /*Eight Base*/
  /*Nine Base*/
  /*Ten Base*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 1280px) {
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*One Base*/
  /*Two Base*/
  /*Three Base*/
  /*Four Base*/
  /*Five Base*/
  /*Six Base*/
  /*Seven Base*/
  /*Eight Base*/
  /*Nine Base*/
  /*Ten Base*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only screen and (min-width: 1600px) {
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*One Base*/
  /*Two Base*/
  /*Three Base*/
  /*Four Base*/
  /*Five Base*/
  /*Six Base*/
  /*Seven Base*/
  /*Eight Base*/
  /*Nine Base*/
  /*Ten Base*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
@media only print {
  /**
   *Print Styles
   */
}
/* line 47, ../sass/style.scss */
.ie8 {
  /**
   * CSS Reset for Drupal 7
   */
  /* Drupal: system-menus.css */
  /* Remember to highlight inserts somehow! */
  /* Tables still need 'cellspacing="0"' in the markup. */
  /**
   * Font reset.
   *
   * Specifically targets form elements which browsers often times give
   * special treatment.
   */
  /**
   * Markup free clearing.
   *
   * Consider adding your own selectors to this instead of finding ways
   * to sneak the clearfix class into Drupal's markup.
   * From http://perishablepress.com/press/2009/12/06/new-clearfix-hack
   */
  /* Exclude inline links from clearfix behavior */
  /* IE6 */
  /* IE7 */
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*100% Widths*/
  /*50% Widths*/
  /*33.3333% Widths*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*100% Widths*/
  /*50% Widths*/
  /*33.3333% Widths*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*100% Widths*/
  /*50% Widths*/
  /*33.3333% Widths*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*One Base*/
  /*Two Base*/
  /*Three Base*/
  /*Four Base*/
  /*Five Base*/
  /*Six Base*/
  /*Seven Base*/
  /*Eight Base*/
  /*Nine Base*/
  /*Ten Base*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*One Base*/
  /*Two Base*/
  /*Three Base*/
  /*Four Base*/
  /*Five Base*/
  /*Six Base*/
  /*Seven Base*/
  /*Eight Base*/
  /*Nine Base*/
  /*Ten Base*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
  /************
   *Objects & Functions
   ********/
  /************
   *Defaults
   ********/
  /************
   *Defaults
   ********/
  /****
   *Box Sizing
   */
  /****
   *Alignments
   */
  /****
   *Margins
   */
  /****
   *Transitions
   */
  /****
   *Widths
   */
  /*One Base*/
  /*Two Base*/
  /*Three Base*/
  /*Four Base*/
  /*Five Base*/
  /*Six Base*/
  /*Seven Base*/
  /*Eight Base*/
  /*Nine Base*/
  /*Ten Base*/
  /*************
  * Outer Containers
  **********/
  /*********
  * Header
  *******/
  /*********
  * Middle
  *******/
  /*********
  * Footer
  *******/
}
/* line 118, ../sass/_reset.scss */
.ie8 html,
.ie8 body,
.ie8 div,
.ie8 span,
.ie8 applet,
.ie8 object,
.ie8 iframe,
.ie8 h1,
.ie8 h2,
.ie8 h3,
.ie8 h4,
.ie8 h5,
.ie8 h6,
.ie8 p,
.ie8 blockquote,
.ie8 pre,
.ie8 a,
.ie8 abbr,
.ie8 acronym,
.ie8 address,
.ie8 big,
.ie8 cite,
.ie8 code,
.ie8 del,
.ie8 dfn,
.ie8 em,
.ie8 font,
.ie8 img,
.ie8 ins,
.ie8 kbd,
.ie8 q,
.ie8 s,
.ie8 samp,
.ie8 small,
.ie8 strike,
.ie8 strong,
.ie8 sub,
.ie8 sup,
.ie8 tt,
.ie8 var,
.ie8 b,
.ie8 u,
.ie8 i,
.ie8 center,
.ie8 dl,
.ie8 dt,
.ie8 dd,
.ie8 ol,
.ie8 ul,
.ie8 li,
.ie8 fieldset,
.ie8 form,
.ie8 input,
.ie8 select,
.ie8 textarea,
.ie8 label,
.ie8 legend,
.ie8 table,
.ie8 caption,
.ie8 tbody,
.ie8 tfoot,
.ie8 thead,
.ie8 tr,
.ie8 th,
.ie8 td,
.ie8 td.menu-disabled,
.ie8 ul.links,
.ie8 ul.links.inline,
.ie8 ul.links li,
.ie8 .block ul,
.ie8 div.admin,
.ie8 tr.even,
.ie8 tr.odd,
.ie8 tr.drag,
.ie8 tbody,
.ie8 tbody th,
.ie8 thead th,
.ie8 .breadcrumb,
.ie8 .item-list .icon,
.ie8 .item-list .title,
.ie8 .item-list ul,
.ie8 .item-list ul li,
.ie8 ol.task-list li.active,
.ie8 .form-item,
.ie8 tr.odd .form-item,
.ie8 tr.even .form-item,
.ie8 .form-item .description,
.ie8 .form-item label,
.ie8 .form-item label.option,
.ie8 .form-checkboxes,
.ie8 .form-radios,
.ie8 .form-checkboxes .form-item,
.ie8 .form-radios .form-item,
.ie8 .marker,
.ie8 .form-required,
.ie8 .more-link,
.ie8 .more-help-link,
.ie8 .item-list .pager,
.ie8 .item-list .pager li,
.ie8 .pager-current,
.ie8 .tips,
.ie8 ul.primary,
.ie8 ul.primary li,
.ie8 ul.primary li a,
.ie8 ul.primary li.active a,
.ie8 ul.primary li a:hover,
.ie8 ul.secondary,
.ie8 ul.secondary li,
.ie8 ul.secondary a,
.ie8 ul.secondary a.active,
.ie8 .resizable-textarea {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
}
/* line 132, ../sass/_reset.scss */
.ie8 ul.links,
.ie8 ul.links.inline,
.ie8 ul.links li,
.ie8 .block ul,
.ie8 ol,
.ie8 ul,
.ie8 .item-list ul,
.ie8 .item-list ul li {
  list-style: none;
}
/* line 136, ../sass/_reset.scss */
.ie8 blockquote,
.ie8 q {
  quotes: none;
}
/* line 142, ../sass/_reset.scss */
.ie8 blockquote:before,
.ie8 blockquote:after,
.ie8 q:before,
.ie8 q:after {
  content: '';
  content: none;
}
/* line 148, ../sass/_reset.scss */
.ie8 ins {
  text-decoration: none;
}
/* line 151, ../sass/_reset.scss */
.ie8 del {
  text-decoration: line-through;
}
/* line 156, ../sass/_reset.scss */
.ie8 table {
  border-collapse: collapse;
  border-spacing: 0;
}
/* line 169, ../sass/_reset.scss */
.ie8 input,
.ie8 select,
.ie8 textarea {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
/* line 172, ../sass/_reset.scss */
.ie8 textarea {
  font-size: 1em;
  line-height: 1.538em;
}
/* line 185, ../sass/_reset.scss */
.ie8 ul.links:after,
.ie8 div.admin-panel .body:after,
.ie8 .clearfix:after {
  content: ".";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden;
}
/* line 194, ../sass/_reset.scss */
.ie8 ul.inline:after {
  content: "";
  display: none;
  clear: none;
}
/* line 203, ../sass/_reset.scss */
.ie8 * html .form-item,
.ie8 * html ul.links,
.ie8 * html div.admin-panel .body,
.ie8 * html .clearfix {
  height: 1%;
}
/* line 210, ../sass/_reset.scss */
.ie8 *:first-child + html .form-item,
.ie8 *:first-child + html ul.links,
.ie8 *:first-child + html div.admin-panel .body,
.ie8 *:first-child + html .clearfix {
  min-height: 1%;
}
/* line 214, ../sass/_reset.scss */
.ie8 em {
  font-style: italic;
}
/* line 12, ../sass/_base.scss */
.ie8 * {
  -webkit-font-smoothing: antialiased;
}
/* line 18, ../sass/_base.scss */
.ie8 #bgimg {
  width: 100%;
  height: 300px;
}
/* line 22, ../sass/_base.scss */
.ie8 #foregroundwrap {
  position: absolute;
  top: 0px;
  right: 0px;
  left: 0px;
}
/* line 28, ../sass/_base.scss */
.ie8 #foregroundwrap header {
  width: 100%;
}
/* line 31, ../sass/_base.scss */
.ie8 #foregroundwrap header .logo {
  margin: 15px 0px 15px 10px;
  width: 80%;
  height: 80%;
}
/* line 37, ../sass/_base.scss */
.ie8 #foregroundwrap header .hamburger {
  display: inline-block;
  width: 25px;
  height: 20px;
  position: absolute;
  top: 20px;
  right: 15px;
}
/* line 46, ../sass/_base.scss */
.ie8 #foregroundwrap header .hamburger > div {
  background-color: white;
  height: 20%;
  width: 100%;
}
/* line 51, ../sass/_base.scss */
.ie8 #foregroundwrap header .hamburger > div:not(:first-child) {
  margin-top: 20%;
}
/* line 58, ../sass/_base.scss */
.ie8 #foregroundwrap header .mainnav a {
  color: white;
  font: "archivo_narrowitalic", Helvetica, Arial, sans-serif;
  font-size: 14px;
  font-style: italic;
  text-decoration: none;
}
/* line 65, ../sass/_base.scss */
.ie8 #foregroundwrap header .mainnav a:hover {
  color: #41b7fd;
}
/* line 72, ../sass/_base.scss */
.ie8 #foregroundwrap header h1 {
  font: "archivo_narrowbold", Helvetica, Arial, sans-serif;
  font-size: 27px;
  color: white;
  text-align: center;
}
/* line 79, ../sass/_base.scss */
.ie8 #foregroundwrap header p {
  font: "archivo_narrowregular", Helvetica, Arial, sans-serif;
  font-size: 14px;
  color: white;
  text-align: center;
}
/* line 87, ../sass/_base.scss */
.ie8 #foregroundwrap header .joinbutton {
  background: url(../img/circle.png) center center no-repeat;
  width: 100px;
  height: 100px;
  margin: 20px auto;
}
/* line 93, ../sass/_base.scss */
.ie8 #foregroundwrap header .joinbutton h2 {
  color: #41b7fd;
  font-size: 20px;
  padding: 20px 25px 20px 15px;
  line-height: 20px;
  text-align: center;
}
